.btn-primary {
  padding: 19px;
  display:block;
  background-color: green;
  color: white;
  text-align:center;
  position: absolute;
  top: 60px;
  right: 1px;
}

#addaccount{
  padding: 19px;
  display:block;
  background-color: red;
  color: black;
  text-align:center;
  position: absolute;
  top: 1px;
  right: 1px;
}